
.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  width: 50%;
}

table.form  {
  width: 100%;
}

table tr {
  padding: .5em;
}

table input {
  padding: .5em;
  width: 100%;
}

table .col-1 {
  width: 10%;
}

table .col-2 {
  width: 40%;
}

table .col-3 {
  width: 20%;
}

.sln-flex-container {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex: row;
    justify-content: space-between;
}

.sln-flex-row {
    width: 100%;
    height: 200px;
    /*background: gray;*/
    /*position: fixed;*/
    display: flex;
    text-align: center;
}

.sln-iframe { 
	width: 50%;
	height: 500px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  padding: .3em;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  width: 10%;
  flex: 1;
}

.form-row > input {
  flex: 2;
  width: '50%';
}

.form-row > select {
  flex: 3;
  width: '50%';
}

.form-row > input,
.form-row > button {
  padding: .5em;
}

.form-row > button {
 background: gray;
 color: white;
 border: 0;
}
