{%- import "import/util.html" as util -%}

<div style="display: flex; flex-direction: column;">

  <div style="display: flex; width: 100%; height: 50px; flex-direction: row;">
      <button id="btn_pdf_compile">Compile PDF</button>
      <button id="btn_pdf_saveas">Save As</button>
      <button id="btn_pdf_reload" hidden>Reload</button>
      <button id="btn_pdf_export" >Export As Images</button>

      <!--<label for="file_saved" > Saved Html: </label>-->
      <!--<input type="file" name="file_saved" id="input_file_saved" />-->
  </div>
  
  <div style="display: flex; width: 100%; height: 700px; flex-direction: row;">
     <div style="display: flex; width: 5%; flex-direction: column;">
        <button name="btn_width_plus">Width Plus</button>
        <button name="btn_width_minus">Width Minus</button>
        <button name="btn_open_new_tab">Open in New Tab</button>
        <button name="btn_file_remove" disabled>File Remove</button>
        <button name="btn_file_saveas">File Save As</button>
        <button name="btn_file_rename">File Rename</button>
     </div>

     <div style="display: flex; width: 100%">
        <iframe id="iframe_pdf" {{ util.attrStr(iframes.iframe_pdf) | safe }} ></iframe>
     </div>
  </div>
</div>

