
{%- import "import/form.html" as form -%}

<div id="tab_pics_tabs">

  <ul>
    <li><a href="#tab_pics_view">View</a></li>
    <li><a href="#tab_pics_upload">Upload</a></li>
  </ul>

  <div id="tab_pics_view">
    <button id="btn_render_pics">Render</button>

    <input type="radio" id="radio_pics_scr_cmt" name="selector">
    <label for="radio_pics_scr_cmt">Comment Screenshots</label>

    <input type="radio" id="radio_pics_scr_orig" name="selector">
    <label for="radio_pics_scr_orig">Post Screenshots</label>

    <input type="radio" id="radio_pics_ui_import" name="selector">
    <label for="radio_pics_ui_import">UI Import</label>

    <input type="radio" id="radio_pics_all" name="selector">
    <label for="radio_pics_all">All</label>
  </div>

  {% set f = forms | get(formId) %}
  <div id="tab_pics_upload">
    {{ form.formRaw(formId, formRows = f.rows, formCols = f.cols) }}
    <div id="pic_list"></div>
  </div>
</div>
