
{% import "import/sec_list_table.html" as slt with context %}

<div class='prj-radio-group'>
  <input type="radio" id="radio_fs_new" name="selector">
  <label for="radio_fs_new">New</label>

  <input type="radio" id="radio_fs_done" name="selector">
  <label for="radio_fs_done">Done</label>
</div>

{% set tabId = "tab_fs" %}
{% set cnf = prjConfig | get("templates.tabs." + tabId + ".secFsNewList") %}

{% set cols = cnf | get('table.cols') %}
{% set header = cnf | get('table.header') %}

<div id="sec_fs_new_list">
{% if secFsNewRows | length %}
    <h3>Sections in 'new' directory</h3>
    {{ slt.table(secFsNewRows, cols, header) }}
{% endif %}
</div>
