{%- import "import/util.html" as util -%}

<div style="display: flex; flex-direction: column;">

  <div style="display: flex; width: 100%; height: 50px; flex-direction: row;">
      <button id="btn_render_saved">Render</button>
      <button id="btn_import_saved">Import</button>

      <label for="file_saved" > Saved Html: </label>
      <input type="file" name="file_saved" id="input_file_saved" />
  </div>
  
  <div style="display: flex; width: 100%; height: 700px; flex-direction: row;">
     <div style="display: flex; width: 40%">
        <iframe id="iframe_saved" {{ util.attrStr(iframes.iframe_saved) | safe }} ></iframe>
     </div>
     <div style="display: flex; width: 10%; flex-direction: column;">
     </div>
  </div>
</div>

