
{%- import "import/util.html" as util -%}

{%- macro cellCodeObj(cell, colCnf, index) -%}
  {% set tag = cell.tag %}
  {% set attr = cell.attr %}
  {% set inner = cell.inner %}
  {% set wrap = cell.wrap %}

  {% if wrap and wrap | isArr and wrap | length == 2 %}
    {{ wrap[0] | safe }}
  {% endif %}

  {% if tag %}
    <{{ tag }} {{ util.attrStr(attr) | safe }}>
  {% endif %}

  {% if inner and inner | isStr %}
    {{ inner | safe }}
  {% endif %}

  {% if tag and tag == 'select' %}
    {% set options = cell.options %}
    {% if options %}
         {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
         {% endfor %}
    {% endif %}
  {% endif %}

  {% if tag %}
    </{{ tag }}>
  {% endif %}

  {% if wrap and wrap | isArr and wrap | length == 2 %}
    {{ wrap[1] | safe }}
  {% endif %}

{% endmacro %}
