
{%- import "import/util.html" as util -%}

{%- macro cellCodeObj(cell, colCnf, index) -%}
  {% set tag = cell.tag %}
  {% set attr = cell.attr %}
  {% set inner = cell.inner %}

  <{{ tag }} {{ util.attrStr(attr) | safe }}>
  {% if inner and inner | isStr %}
    {{ inner | safe }}
  {% endif %}

  {% if tag == 'select' %}
    {% set options = cell.options %}
    {% if options %}
         {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
         {% endfor %}
    {% endif %}
  {% endif %}

  </{{ tag }}>

{% endmacro %}
