
{% extends "layout.html" %}

{% block content %}

<h3>Documentation</h3>

<h4>Official</h4>

<table>
  <tr> <td> <a href="https://mozilla.github.io/nunjucks/templating.html" target="_blank">Nunjucks</a></td> </tr>
  <tr> <td> <a href="http://csnw.github.io/sql-bricks/" target="_blank">SQL Bricks</a></td> </tr>
</table>

<h4>TeX</h4>

<h4>Packages</h4>

<table>
<tr> <td> <a href="https://ftp.snt.utwente.nl/pub/software/tex/macros/latex/contrib/fancyvrb/doc/fancyvrb-doc.pdf" target="_blank">
				Fancyvrb</a></td> </tr>
</table>

<h3>Check</h3>
<h4>Forms</h4>

<table>
  <tr>
    <td> <a href="/prj/code/form/form_saved_import/html" target="_blank">form_saved_import</a></td>
  </tr>
</table>

<h3>Assets</h3>
<h4>CSS</h4>

<table>
  <tr>
    <td> <a href="/prj/assets/css/ctl/style.css" target="_blank">style.css</a></td>
  </tr>

  <tr>
    <td> <a href="/prj/assets/css/ctl/form.flex.css" target="_blank">form.flex.css</a></td>
  </tr>
</table>

{% endblock %}
