
{%- import "import/util.html" as util -%}

{%- macro cellRaw(key, attr, content) -%}
  {%- if key -%}
    {%- set akey = key.split(' ') -%}
    {%- set tag  = akey.shift() -%}
    {%- set opt  = akey.shift() -%}

    {%- if opt -%}
      {%- set attr = "type=" + opt + " " + attr -%}
    {%- endif -%}

    <{{ tag }} {{ attr }}>{{ content }}</{{ tag }}>
  {%- endif -%}
{%- endmacro -%}

{%- macro colAttr(colCnf={}) -%}
  {%- if colCnf -%}
     {%- for key, value in colCnf -%}
       {%- if key == 'width' -%}
style='width: {{ value }}'
       {%- endif -%}
     {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro cellCode(cell, colCnf, index) -%}

  {% if cell | isArr %}
    {% for item in cell %}
      {{ cellCode(item, colCnf, index) }}
    {% endfor %}
  {% else %}
    {%- set m = r/^\s*(?<key>[\w\s]+)\@(?<attr>[^@]*)(|\@(?<content>[^@]*))$/g.exec(cell) -%}

    {%- if m -%}
      {%- set key = m.groups.key -%}
      {%- set attr = m.groups.attr -%}
      {%- set content = m.groups.content -%}
      {{ cellRaw(key, attr, content) }}
    {%- endif -%}
  {% endif %}

{%- endmacro -%}

{%- macro cellDiv(cell, colCnf, index) -%}
<div class="prj-form-col" col={{ index }} {{ colAttr(colCnf) | safe }}> {{ cellCode(cell, colCnf, index) | safe }} </div>
{%- endmacro -%}

{% macro formRaw(formId, formRows=[], formCols=[], formAttr={}) %}
<form id="{{ formId }}" {{ util.attrStr(formAttr) | safe }}>
  <div class="prj-form">
    {%- for row in formRows -%}
      {% if row | isArr %}

        {%- if row.length -%}
          <div class="prj-form-row">
             {%- for cell in row -%}
               {%- set colCnf = formCols[loop.index0] -%}

               {{ cellDiv(cell, colCnf, loop.index) }}
             {%- endfor -%}
          </div>

        {%- endif -%}

      {%- elif row | isObj -%}
      {%- else -%}
        {{ row | safe }}
      {%- endif -%}
    {%- endfor -%}

    <div class="prj-status-line"> </div>
  </div>
</form>
{% endmacro %}


