
{%- import "import/auth.html" as auth -%}
{%- import "import/tg.html" as tg -%}

{% macro tRow(row = {}, cols=[], header={}) -%}
<tr>
  {% set sec = row.sec %}

  {% for col in cols %}
    {% if col == 'date' %}
      {% set date = _get(row, col) %}
      {% set href = "/prj/sec/html?sec=" + date %}
      <td class="prj-sec-{{ col }}" ><a href="{{ href }}">{{ date }}</a></td>

    {% elif [ '_html', '_pdf' ].includes(col) %}
      {% set data = _get(row, col) %}
      {% set href = _get(data, 'href') %}
      {% set output_ex = _get(data, 'output_ex') %}
      <td class="prj-sec-{{ col }}" >
         <button class="prj-link" href="{{ href }}" type="sec" output_ex={{ output_ex }} >
           {{ _get(header, col, col) }}
         </button>
      </td>

    {% elif col == '_check' %}
      <td class="prj-sec-{{ col }}" ><input type="checkbox" value="{{ sec }}" /></td>

    {% elif col == 'authors' %}
      <td class="prj-sec-{{ col }}" >
        {% set authors = _get(row, col, []) %}

        {% if authors.length == 0 %}
        {% elif authors.length == 1 %}
          {% set author = authors[0] %}
          {{ auth.authLink(author) }}
        {% else %}
          {{ auth.authSelect(authors) }}
        {% endif %}
      </td>

    {% elif col == 'tags' %}
      <td class="prj-sec-{{ col }}" >
        {% set tags = _get(row, col, []) %}
        {% if tags.length == 0 %}
        {% elif tags.length == 1 %}
          {% set tag = tags[0] %}
          {{ tg.tagLink(tag) }}
        {% else %}
          {{ tg.tagSelect(tags) }}
        {% endif %}
      </td>

    {% else %}
      <td class="prj-sec-{{ col }}" >{{ _get(row, col) }}</td>
    {% endif %}
  {% endfor %}
</tr>
{%- endmacro %}

{% macro table(secRows = [], cols=[], header={}) %}
 <table class="prj-link-table">
    <thead>
      {% for col in cols %}
        {% if col == '_check' %}
          <th><input type="checkbox" id="ckb_secs_all" value="all" /></th>
        {% else %}
          <th>{{ _get(header, col, col) }}</th>
        {% endif %}
        <!--<th>{{ col }}</th>-->
      {% endfor %}
    </thead>
    <tbody>
      {% for row in secRows %}
        {{ tRow(row, cols, header) }}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

