{% extends "layout.html" %} 

{% block content %}
    <table>
      <tr> 
        <td class="col-1"><label for="input_search">Search: </label></td>
        <td class="col-2"><input type="text" id="input_search" name="search"></input> </td>
        <td class="col-3">
          <select> <option name="ddg">DuckDuckGo</option> </select>
        </td>
      </tr>
      <tr> 
        <td class="col-1"> <label for="input_go">Go: </label> </td>
        <td class="col-2"> <input type="text" id="input_go" name="go"></input> </td>
      </tr>
    </table>
<!---->
{% endblock %}
