
.flex-container {
  display: flex;
  font-size: 30px;
  /*text-align: center;*/
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 30%;
  flex-grow: 0;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 70%;
  flex-grow: 0;
}
