
<div id="header_panel" class='prj-flex-row'>
  <input type="text" id="sec_date" data-field="date" />

  <input type="button" id="btn_sec_new" value="New" href="/prj/sec/new/html" />
  <input type="button" id="btn_index" value="Index" href="/" />
  <input type="button" id="btn_images" value="Images" href="/prj/img/search/html" />
  <input type="button" id="btn_authors" value="Authors" href="/prj/auth/all/html" /> 
  <input type="button" id="btn_topics" value="Topics" href="/prj/topics/html" />
  <input type="button" id="btn_tags" value="Tags" href="/prj/tags/html" />
  <input type="button" id="btn_control" value="Control" href="/prj/control/html" />
  <input type="button" id="btn_dbs" value="Databases" href="/prj/dbs/html" />
  <input type="button" id="btn_targets" value="Targets" href="/prj/targets/html" />
  <input type="button" id="btn_archive" value="Archive" href="/prj/archive/html" />
</div>

