
{% macro secWrap(sec) %}
  <div class="prj-sec-bare" sec="{{ sec }}">
     <div class="prj-sec-bare-ctl">
        <button type="button" style="{{ styles.wrap.btn }}" act="exclude">Exclude</button>
        <button type="button" style="{{ styles.wrap.btn }}" act="include" hidden>Include</button>

        <button type="button" style="{{ styles.wrap.btn }}" act="expand" hidden>Expand</button>
        <button type="button" style="{{ styles.wrap.btn }}" act="collapse">Collapse</button>

        <span class="prj-sec-bare-name"> {{ sec }} </span>
     </div>
  </div>
{% endmacro %}

{% macro ulTree(tree) %}
  {% set sec = tree.sec %}
  {% set childTrees = tree.chd %}

  {% if sec %}
    {{ secWrap(sec) }}
  {% endif %}
  {% if childTrees and childTrees | isArr and childTrees | length %}
    <ul>
      {% for childTree in childTrees %}
        <li>{{ ulTree(childTree) | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

<div class="prj-sec-tree-control">
<!--    <button type="button">Collapse</button>-->
    <!--<button type="button">Expand</button>-->
    <button type="button" act="select_all">Select All</button>
    <!--<button type="button">Clear Selection</button>-->
    <button type="button" act="exclude_selected">Exclude Selected</button>
</div>
<div class="prj-sec-tree-status">
</div>

{% if tree %}
<div class="prj-sec-tree">
  {{ ulTree(tree) }}
</div>
{% endif %}
