
{%- import "import/util.html" as util -%}

{% block content %}

<div class="prj-form">
  <div class="prj-form-row">
    <!--<div class="prj-form-col" col="1" style="width: 10%"> -->
    <div class="prj-form-col" col="1" style="{{ style.cols.one }}">
        <label> Saved:</label>
    </div>
    <div class="prj-form-col" col="2" style="{{ style.cols.two }}">
        <input type="checkbox" name="has_saved" disabled
          {% if checklist.saved.files | length %}
            checked
          {% endif %}
        />
    </div>
    <div class="prj-form-col" col="3" style="{{ style.cols.three }}">
        <select name="saved_files">
           {% for file in checklist.saved.files %}
             <option value="{{ file }}"> {{ file }}</option>
           {% endfor %}
        </select>
    </div>
    <div class="prj-form-col" col="4" style="{{ style.cols.four }}"> </div>
  </div>

  <div class="prj-form-row">
    <!--<div class="prj-form-col" col="1" style="width: 10%"> -->
    <div class="prj-form-col" col="1" style="{{ style.cols.one }}">
        <label> PDF:</label>
    </div>
    <div class="prj-form-col" col="2" style="{{ style.cols.two }}">
        <input type="checkbox" name="has_pdf" disabled
          {% if checklist.output.pdf %}
            checked
          {% endif %}
        />
    </div>
    <div class="prj-form-col" col="3" style="{{ style.cols.three }}"> </div>
    <div class="prj-form-col" col="4" style="{{ style.cols.four }}"> </div>
  </div>

  <div class="prj-form-row">
    <!--<div class="prj-form-col" col="1" style="width: 10%"> -->
    <div class="prj-form-col" col="1" style="{{ style.cols.one }}">
        <label> HTML:</label>
    </div>
    <div class="prj-form-col" col="2" style="{{ style.cols.two }}">
        <input type="checkbox" name="has_html" disabled
          {% if checklist.output.pdf %}
            checked
          {% endif %}
        />
    </div>
    <div class="prj-form-col" col="3" style="{{ style.cols.three }}"> </div>
    <div class="prj-form-col" col="4" style="{{ style.cols.four }}"> </div>
  </div>

<!---->
{% endblock %}

