{% extends "layout.html" %}
{%- import "import/form.html" as form -%}

{% block content %}
  <h1>{{title}}</h1>

<div id="tabs" class="prj-tabs">
  <ul>
    <li><a href="#tab_sec_new">Section</a></li>
    <li><a href="#tab_img_new">Image</a></li>
  </ul>

  {% for input in inputList %}
    {% set formId = input.formId %}
    {% set tabId  = input.tabId %}
    {% set after  = input.after %}

    {% set f = _get(forms, formId) %}

    <div class="prj-tab" id="{{ tabId }}">
      {{ form.formRaw(formId, formRows = f.rows, formCols = f.cols) }}

      {{ after }}
    </div>

  {% endfor %}

</div>

{%- include "include/piece/img_container.html" -%}

<!---->
{% endblock %}

