
{% extends "selenium/layout.html" %}

{% block content %}
    <table class="form">
      <tr>
        <td class="col-1"><label for="input_search">Search: </label></td>
        <td class="col-2"><input type="text" id="input_search" /> </td>
        <td class="col-3">
          <select> <option name="ddg">DuckDuckGo</option> </select>
        </td>
      </tr>

      <tr>
        <td class="col-1"> <label for="input_go">Go: </label> </td>
        <td class="col-2"> <input type="text" id="input_go" /> </td>
      </tr>

      <tr>
        <td class="col-1"> Page Url </td>
        <td class="col-2"> <a id="page_url" href="#"></a></td>
      </tr>

      <tr>
        <td class="col-1"> <label for="input_xpath">XPath: </label> </td>
        <td class="col-2"> <input type="text" id="input_xpath" /> </td>
      </tr>

      <tr>
        <td class="col-1"> <label for="input_selector">Selector: </label> </td>
        <td class="col-2"> <input type="text" id="input_selector" /> </td>
      </tr>

<!--      <tr>-->
        <!--<td class="col-1"> <button id="btn_click_xpath">Click (XPath)</button> </td>-->
        <!--<td class="col-2"> <input type="text" id="input_xpath_click" /> </td>-->
      <!--</tr>-->

      <!--<tr>-->
        <!--<td class="col-1"> <button id="btn_click_selector">Click (CSS)</button> </td>-->
        <!--<td class="col-2"> <input type="text" id="input_selector_click" /> </td>-->
      <!--</tr>-->

    </table>
    <div>
      <button id="btn_facebook">init facebook</button>
    </div>
    <div id="tabs">
      <ul>
         <li><a href="#tab_src">Source</a></li>
         <li><a href="#tab_src_html">Html</a></li>
      </ul>

      <div id="tab_src">
        <pre id="pre_page_src"></pre>
      </div>

      <div id="tab_src_html">
        <iframe class="sln-iframe" frameborder="1"></iframe>
      </div>
    </div>
<!--    <div class="page sln-flex-container">-->
      <!--<div class="sln-flex-row">-->
        <!--<pre id="pre_page_src"></pre>-->
      <!--</div>-->
    <!--</div>-->
<!---->
{% endblock %}
